@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html> 
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Create Node</title>
</head>
<body>
    <p>Please submit your new Node:</p>
    <form action="" >
        <label for="n_name">Node name:</label><br>
        <input type="text" id="n_name" name="n_name" value="Node Name"><br>

        <label for="n_link">Node Link:</label><br>
        <input type="text" id="n_link" name="n_link" value="Node Link"><br>

        <label for="n_text">Description:</label><br>
        <input type="text" id="n_text" name="n_text" value="Node Text"><br><br>

        <input type="submit" onclick="createNode(); return false;">
    </form>

    <br><br>
    <a href="@Url.Action("ListNodes", "Nodes")">
          <span>Nodes</span>
    </a>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/js/nodes.js"></script>
</body>
</html>